<div class="row">
    <div class="col-md-12">
        <h2>Add a Survey Question</h2>

        <div id="submitting" class="hidden">Submitting question ...</div>

        <div id="add-another" class="hidden"><a href="/admin/add-question">Add another</a></div>

        <table id="add-question-form">
          <tr>
            <td align="right">
              <label>Question Title:</label>
            </td>
            <td>
              <input id="question-title" type="text"/>
            </td>
          </tr>
          <tr>
            <td align="right">
              <label>Choice:</label>
            </td>
            <td>
              <input class="choice" type="text"/>
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
            <td>
              <a id="add-choice" class="btn btn-link" href="#">Add another choice</a>
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
            <td>
              <a id="add-question" class="btn btn-primary" href="#">Add question</a>
            </td>
          </tr>
        </table>
    </div>
</div>
<!-- /.row -->
