<div class="row">
    <div class="col-md-12">
        <div id="question" data-question-id="{{question.id}}">
            <h3>Survey Question</h3>
            <p>{{question.title}}</p>
            <div id="choices">
                {{#each question.choices}}
                    <a data-choice-id="{{id}}" class="choice btn btn-primary" href="#">{{text}}</a>
                {{/each}}
            </div>
        </div>
        <div id="answer-another" class="hidden">
          <a href="/">Answer another question.</a>
        </div>
    </div>
</div>
<!-- /.row -->
