<div class="row">
    <div class="col-md-12">
        <h3>Survey Question</h3>
        <p>{{question.title}}</p>
        <a class="btn btn-primary" href="#">Yes</a>
        <a class="btn btn-primary" href="#">No</a>
    </div>
</div>
<!-- /.row -->
