<div class="row">
    <div class="col-md-12">
        <h3>Survey Question</h3>
        <p>{{question.title}}</p>
        {{#each question.choices}}
          <a class="btn btn-primary" href="#">{{text}}</a>
        {{/each}}
    </div>
</div>
<!-- /.row -->
